
.banner-container {
  height: 350px;
  overflow: hidden;
}

.banner-container img {
  width: 100%;
  display: block;
  min-height: 350px;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 170px;
  width: 100%;
  text-align: center;
}

.banner-text h2 {
  font-size: 40px; /* Tamaño de fuente del título */
  margin: 0; /* Elimina el margen predeterminado del título */
  font-family: 'Prata', serif;
}




.formulario-container {
  display: flex;
  justify-content: center;
}


/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  /* Ajusta el ancho del formulario */
  iframe[src*="https://docs.google.com/forms/d/e/1FAIpQLSdrtqVduEJpvn4aFxlmfqICpfeu4eWVq6cbLXZdmP6IPkxOMA/viewform?embedded=true"] {
    width: 60%; /* Establece el ancho al 100% del contenedor padre */
  }
}


