/* This file contains shared styles, common for all pages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url('https://fonts.gstatic.com/s/quicksand/v28/6xKtdSZaM9iE8KbpRA_LJ3z8mH9BOJvgkPvKe45c0A0.woff2') format('woff2');
  font-display: swap; 
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.gstatic.com/s/dancingscript/v12/If2RXTr6YS-zF4S-kcSWSViSwA.woff2') format('woff2');
  font-display: swap;
}

body {
  background-color: #ffffff;
  color: #ffffff;
  /* This is the main font ofthe page */
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  top:0;
  right:0;
  overflow-x: hidden;
}

/*** HEADER ****/
header {
  position: fixed;
  top: 10px;
  left: 30px;
  right: 30px;
  width: calc(100% - 70px);
  z-index: 999;
  background-color: rgb(184, 137, 177);
  height: 60px;
  border-radius: 50px;
  margin: auto;
  max-width: 1000px;
}

/* Nuevo contenedor para el logo y el menú */
#header-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  max-width: 1000px;
}

/* navegador estilos */
#logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

#logo img.logo {
  width: 200px; 
  height: 60px;
  border-radius: 50px
}

/* Estilos para el menú */
#nav {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1.5px;
  text-decoration: none;
  line-height: 60px;
}

#nav a {
  color: white;
  display: inline-block; 
  margin-right: 1.5em;
  text-decoration: none; 
  position: relative;
  transition: color 0.3s ease; 
  font-size: 17px;
  line-height: 20px;
}

#nav a[href="conoceme.html"] {
  white-space: nowrap; /* Evita el salto de línea */
}

#nav a::before {
  content: ""; /* Agrega un pseudo-elemento */
  position: absolute;
  bottom: 0px; /* Coloca el efecto debajo del texto */
  left: 0;
  width: 100%;
  height: 2px; /* Grosor del efecto */
  background-color: #ff7bb0; /* Color del efecto */
  transform: scaleX(0); /* Inicialmente oculto */
  transform-origin: left; /* Inicia el efecto desde la izquierda */
  transition: transform 0.3s ease;
}

#nav a:hover::before {
  transform: scaleX(1); /* Muestra el efecto al pasar el mouse */
}

#menu-toggle {
  display: none;
  cursor: pointer;
  margin-right: 30px;
  width: 20px;
  height: 40px;
}

/* Estilos para el menú en pantallas pequeñas */
@media (max-width: 845px) {
  #menu-toggle {
    display: block; /* Mostrar en pantallas pequeñas */
    width: 20px;
    height: 40px;
  }

  #nav {
    display: none; /* Ocultar por defecto en pantallas pequeñas */
  }

  #nav.active {
    display: flex;
    flex-direction: column;
    background-color: rgb(184, 137, 177);
    position:absolute;
    top: 65px;
    right: 0px;
    width: 200px;
    padding: 15px;
    border-radius: 30px;
    z-index: 1000;
  }
  #nav a {
    padding: 10px;
  }
}
/*** END OF HEADER ****/


/*** FOOTER ****/
#quick-links-section {
  background: linear-gradient(to right, #b889b1, #f6ecec);
  padding: 50px;
  color: #333;
}

.column img.logo-image {
  width: 200px;
  height: initial;
}

.column.centered-text p {
  font-style: italic;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .quick-links-container {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    text-align: center;
  }

  .column {
    margin-bottom: 20px;
    padding: 0 20px; 
    text-align: center; 
  }

  .contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Añadir espacio superior */
  }

  .contact-icons img {
    width: 30px;
    height: 30px;
  }
}

/* Estilos para tablet y escritorio */
@media (min-width: 769px) {
  .quick-links-container {
    display: grid; /* Usar grid para distribución en columnas */
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas en tablet y escritorio */
    gap: 30px;
    align-items: flex-start; /* Centrar contenido verticalmente */
  }

  .column {
    margin-bottom: 0; 
    text-align: center;
  }

  .contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 0; 
  }

  .contact-icons img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px; 
  }
}
/*** END OF FOOTER ****/


/*** STYLED BUTTON ****/
.styled-button {
  margin: 60px auto;
  background-color: #b889b1;
  color: #ffffff;
  padding: 20px 30px; /* Aumentar el tamaño del botón */
  border: none;
  border-radius: 50px; 
  font-size: 20px;
  line-height: 20px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

/* Efecto 3D en hover */
.styled-button:hover {
  transform: scale(1.05); /* Aumentar el tamaño al pasar el mouse */
  background-color: #ff7bb0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0.3, 0.3); /* Eleva el botón en hover */
}

/* Estilos para el enlace dentro del botón */
.button-link {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del texto del botón */
}
/*** END OF STYLED BUTTON ****/

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.column img:hover {
  transform: translateY(-5px); 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}

.column h4 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px; 
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column li {
  margin: 1em 0;
}

.column a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.column a:hover {
  color: #ff7bb0;
}

/* Estilos para el icono flotante */
.icono-flotante {
  position: fixed;
  bottom: 30px; 
  right: 25px; 
  z-index: 1000; 
}

.icono-flotante img {
  width: 50px; 
  height: 50px;
  border: none;
  padding-left: 3px;
}

.icono-flotante:hover {
  transform: translateY(-5px); 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}
