#hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('Imagenes/Migrante en Finlandia.png');
  background-size: cover;
  color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#hero-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b889b1;
  opacity: 0.8;
  z-index: -1;
}

#hero-section h1 {
  margin-top: 60px;
  font-size: 48px;
  margin-bottom: 60px;
}

#hero-section p {
  line-height: 0.8;
  font-size: 24px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e3cae0;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 100px;
}

button:hover {
  background-color: #a36ca0;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(184, 137, 177, 0.5);
}

#questions-section {
  position: relative;
  overflow: hidden;
}

#questions-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('Imagenes/finland-fuccia.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#questions-container {
  padding: 20px;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

#questions-container h2 {
  font-size: 37px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
}

#questions-section:before {
  transform: translateZ(-1px) scale(1.8);
  animation: parallaxScroll 40s linear infinite;
}

@keyframes parallaxScroll {
  10% {
    transform: translateZ(-10px) scale(1.8);
  }
  60% {
    transform: translateZ(-5px) scale(2);
  }
  100% {
    transform: translateZ(-10px) scale(1.8);
  }
}

#question-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 50px;
}

#question-list li {
  text-align: center;
  font-style: italic;
  font-family: 'Prata', serif;
  margin-bottom: 25px;
  font-weight: bold;
  color: #fff;
}

#answer-button {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 80px;
}

#about-section {
  padding: 60px 0;
  background-color: #f6ecec;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image-container {
  flex: 1;
  text-align: center;
}

.about-image {
  width: 400px;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: 70px;
  margin-left: 70px;
}

.about-text-container {
  flex: 1;
  text-align: center;
  margin-left: 80px;
}

.about-title {
  font-size: 60px;
  color: #b889b1;
  margin-bottom: 20px;
  font-family: 'Prata', cursive;
  margin-right: 60px;
}

.about-text {
  font-size: 18px;
  color: #847f7f;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: justify;
  margin-right: 60px;
}

.about-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f6ecec;
  color: #847f7f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1%;
  margin-right: 60px;
}

.about-button:hover {
  background-color: #333;
  color: #fff;
}

#testimonials-section {
  position: relative;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('Imagenes/flores dafne.jpg');
  background-size: cover;
  z-index: -1;
}

.testimonials-container {
  padding: 50px;
  text-align: center;
}

.testimonials-container h2 {
  font-size: 60px;
  margin-bottom: 40px;
  font-family: 'Prata', serif;
  color: #333;
}

.testimonial-card {
  position: relative;
  margin-bottom: 50px;
}

.testimonial-content {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  animation: testimonialFadeIn 15s ease-in-out forwards;
}

.testimonial {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 8s ease;
}

@keyframes testimonialFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.testimonial-content p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

.testimonial-info {
  margin-top: 20px;
}

.testimonial-name {
  font-weight: bold;
  font-style: italic;
  color: #555;
}

#service-section {
  text-align: center;
}

.service-title {
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #a36ca0;
}

.service-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.service-panel {
  flex: 1;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.service-panel:hover {
  transform: scale(1.1);
}

.service-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 80%;
}

.service-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.service-panel:hover .service-image img {
  transform: scale(1.1);
}

.service-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.service-panel:hover .service-text {
  opacity: 1;
}

.service-text p {
  margin: 0;
}

.service-link {
  display: block;
  margin-top: 10px;
  font-style: italic;
  color: #b889b1;
}

.service-button {
  margin-top: 17px;
  margin-bottom: 55px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #f6ecec;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#citas-section {
  position: relative;
  overflow: hidden;
}

.parallax-bg-citas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('Imagenes/Agenda.png');
  background-size: cover;
  z-index: -1;
  transform: translateZ(-10px) scale(3.0);
  animation: parallaxScrollCitas 10s linear infinite;
}

@keyframes parallaxScrollCitas {
  0% {
    transform: translateZ(-1000px) scale(3.0);
  }
  10% {
    transform: translateZ(-2000) scale(3.0);
  }
  50% {
    transform: translateZ(10px) scale(3.0);
  }
  100% {
    transform: translateZ(-1000px) scale(4.1);
  }
}

.background-citasimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('Imagenes/Agenda.png');
  background-size: cover;
  z-index: -1;
}

.citas-container {
  padding: 50px;
  text-align: center;
}

.citas-content {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 8px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.citas-content h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.citas-content p {
  color: #333;
  font-size: 18px;
}

.btn-citas {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #b889b1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.citas-slogan {
  color: #b889b1;
  font-weight: bold;
}
