
/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  /* Evita el desplazamiento horizontal */
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  /* Ajusta el ancho de la página al ancho del dispositivo */
  html, body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  header {
    position:absolute;
    justify-content: center;
  }
}

/* Estilos para el header */
header {
  position: fixed;
  top: 10px;
  left: 40px;
  right: 40px;
  width: calc(100% - 80px); 
  transition: background-color 0.3s ease;
  z-index: 999;
  background-color: rgba(184, 137, 177, 0.8);
  height: 60px;
  border-radius: 50px
}

/* Nuevo contenedor para el logo y el menú */
#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: background-color 0.3s ease;
  position: relative;
  height: 8000px;
}


/* Estilos para el contenedor del logo y el menú */
#navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  top: 0;
  right: 0;
  width: 100%;
  transition: background-color 0.3s ease;
  /* margin-right: 20px; */ /* Comenta esta línea */
  z-index: 998; /* Agrega un índice z para que el logo esté encima del ribbon */
}

/* navegador estilos */
#logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Agrega un z-index para que el logo esté encima del ribbon */
  z-index: 999;
  height: 60px;
  width: 60px;
  margin-left: 0px;
  border-radius: 50px
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .logo {
    order: -1; /* Cambia el orden para mover el logo a la izquierda */
  }
}

#logo img {
  width: 200px; /* Ajusta el tamaño según tus necesidades */
  height: 60px;
  margin-right: 10px; /* Ajusta el espaciado según tus necesidades */
  border-radius: 50px
}

/* Estilos para el menú */
#nav {
  display: flex;
  gap: 30px;
  letter-spacing: 1.5px;
  text-decoration: none;
  padding: 5px 10px;
  align-items: center;
  margin-left: 150px;
}

#nav a {
  color: antiquewhite;
  padding: 10px;
  display: inline-block; 
  margin-left: 20px;
  text-decoration: none; 
  position: relative;
  transition: color 0.3s ease; 
}

#nav a:last-child {
  margin-left: 0;
}

#nav a[href="conoceme.html"] {
  white-space: nowrap; /* Evita el salto de línea */
}

#nav a::before {
  content: ""; /* Agrega un pseudo-elemento */
  position: absolute;
  bottom: -5px; /* Coloca el efecto debajo del texto */
  left: 0;
  width: 100%;
  height: 2px; /* Grosor del efecto */
  background-color: #ff7bb0; /* Color del efecto */
  transform: scaleX(0); /* Inicialmente oculto */
  transform-origin: left; /* Inicia el efecto desde la izquierda */
  transition: transform 0.3s ease;
}

#nav a:hover::before {
  transform: scaleX(1); /* Muestra el efecto al pasar el mouse */
}

/* Estilos para el menú hamburguesa */
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px; /* Ajusta el tamaño del ícono */
  color: white; /* Color del ícono */
}


.menu-icon {
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 18px;
  display: none; 
  right: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
}



/* Estilos para el menú en pantallas pequeñas */
@media (max-width: 768px) {

  #menu-toggle {
    display: block; /* Mostrar en pantallas pequeñas */
    
  }
  
  #nav {
    display: none; /* Ocultar por defecto en pantallas pequeñas */
  }
  
  #nav.active {
    display: flex;
    flex-direction: column;
    background-color: rgba(184, 137, 177, 0.8);
    position:absolute;
    top: 70px;
    right: 0%;
    width: 30%;
    padding: 5px;
    z-index: 1000;
  }
  
  #nav.active a {
    margin: 10px 0;
  }
}


/* Estilos para el footer y la sección de enlaces rápidos */
#quick-links-section {
  background: linear-gradient(to right, #b889b1, #f6ecec);
  padding: 50px;
  color: #333;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .quick-links-container {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    text-align: center;
  }

  .column {
    margin-bottom: 20px;
    padding: 0 20px; /* Añadir espacio lateral */
    text-align: center; /* Centrar texto */
  }

  .logo-image {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Permite que la altura se ajuste proporcionalmente */
    margin-bottom: 20px; /* Añade margen inferior */
  }

  .contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Añadir espacio superior */
  }

  .contact-icons img {
    width: 30px;
    height: 30px;
  }
}

/* Estilos para tablet y escritorio */
@media (min-width: 769px) {
  .quick-links-container {
    display: grid; /* Usar grid para distribución en columnas */
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas en tablet y escritorio */
    gap: 30px;
    align-items: center; /* Centrar contenido verticalmente */
  }

  .column {
    margin-bottom: 0; /* Eliminar margen inferior */
    text-align: center; /* Centrar texto */
  }

  .contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 0; /* Eliminar espacio superior */
  }

  .contact-icons img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px; /* Agregar espacio inferior */
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.column h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px; /* Agregar espacio inferior al título */
}

.column p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.column li {
  margin: 5px 0;
}

.column a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.column a:hover {
  color: #ff7bb0;
  text-decoration: none;
}

/* Estilos para el icono flotante */
.icono-flotante {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior */
  right: 20px; /* Ajusta la distancia desde la derecha */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.icono-flotante img {
  width: 50px; /* Ajusta el tamaño del icono según tus preferencias */
  height: auto;
  border: none; /* Elimina el borde si lo hubiera */
}
